{%extends "base.html"%} {% block title %}Sign Up{% endblock %}

{%block content%}
<link rel="stylesheet" href="./static/styles/util.css">
<link rel="stylesheet" href="./static/styles/login.css">

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->

<!--===============================================================================================-->
</head>

<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="POST">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Sign Up
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter email">
                        <span class="focus-input100"></span>
                        <div class="form-group">
                            <label for="email"> Email Address </label>
                            <input type="email" class="input100" id="email" name="email"
                                placeholder="Enter email" />
                        </div>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter First Name">
                        <span class="focus-input100"></span>
                        <div class="form-group">
                            <label for="FirstName"> First Name </label>
                            <input type="text" class="input100" id="firstName" name="firstName"
                                placeholder="Enter first name" />
                        </div>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Password">
                        <span class="focus-input100"></span>
                        <div class="form-group">
                            <label for="password1"> Password </label>
                            <input type="password" class="input100" id="password1" name="password1"
                                placeholder="Enter password" />
                        </div>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter Password">
                        <span class="focus-input100"></span>
                        <div class="form-group">
                            <label for="password2"> Confirm Password</label>
                            <input type="password" class="input100" id="password2" name="password2"
                                placeholder="Confirm password" />
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>

                    <!-- <div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div> -->
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="./static/styles/login.js"></script>

</body>

</html>
<!-- <form method="POST">
    <h3 allign="center">Sign Up</h3>
    <div class="form-group">
        <label for="form-group">
            <label for="email"> Email Address </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
        <label for="form-group">
            <label for="FirstName"> First Name </label>
            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" />
    </div>
    <div class="form-group">
        <label for="form-group">
            <label for="password1"> Password </label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
    </div>
    <div class="form-group">
        <label for="form-group">
            <label for="password2"> Password (Confirm) </label>
            <input type="password" class="form-control" id="password2" name="password2"
                placeholder="Confirm password" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>

</form> -->
{% endblock %}